@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App{
    /* content: " "; */

 
    /* bacl */
    /* backdrop-filter:var(--easing); */
    /* background-opacty: 20%; */

    /* position: absolute; */
    /* top: 100px; */
    min-width: 100vw;
  
}

.App::before{

    content: " ";
    position: absolute; /* position the pseudo-element over the element */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/Grid.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    filter: opacity(0.1) saturate(50%); 
    mix-blend-mode: overlay;

    z-index: -2;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

/* ANimation bg */
.grid{
    overflow: hidden;

    top: 0;
    bottom: 0;
}
.grid>img{
    /* display: none; */
    width: 100%;
    height: 100%;
  
    /* right: 0; */
    /* mix-blend-mode: overlay; */
}

.gradient {
    --size: 350px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#3F59E9, #5F2A81, #CF2E8D);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
@media (min-width: 720px) {
    .gradient {
        --size: 500px;
   }
}
.gradient {
    /* background-color: #222; */
    position: absolute;
    inset: 0;
    z-index: -10;
    /* display: flex; */
    place-content: center;
    align-items: center;
    overflow: hidden;
    top: -20%;
    left: 0%;
    /* row-gap: ; */
    /* bottom: 50%; */
}
/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.5s ease-out;
}

  
  /* This is just to transition when you change the viewport size. */
  /* * {
    transition: all 0.25s ease-out;
  } */



  /*  */
  

  

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
   }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
   }
}
/* Main styles */
body>.pattern {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0 ;
    
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
   /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
   /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
   /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
   /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
body>.pattern::before {
    content: " ";
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
}